QDialog{
    background: #232931;
    color: #eeeeee;
}
QPushButton{
background: #4ecca3;
     color: #393e46;
     border-radious: 3px;
}
QLabel{
    color:#eeeeee;
}
QGroupBox{
    color: #eeeeee;
}

QLineEdit{
    background: #393e46;
    border: 2px solid #232931;
    color: #eeeeee;
    min-height: 25px;
}